{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
     
	  <h1>{{ heading_title }}</h1>
	  <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
	   <div class="float-end">
        <button type="submit" form="form-timeslot" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
      
      
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="card">
      <div class="card-header">
       <i class="fa fa-pencil"></i> {{ text_add }}
      </div>
      <div class="card-body">
      
        	<form action="{{ save }}" method="post" data-oc-toggle="ajax" id="form-timeslot" class="form-horizontal">

        		<ul class="nav nav-tabs">
            <li class="nav-item"><a href="#tab-general" data-bs-toggle="tab" class="nav-link active"><i class="fa fa-link"></i>{{ tab_general }}</a></li>
            <li class="nav-item"><a href="#tab-language" data-bs-toggle="tab" class="nav-link"><i class="fa fa-language"></i>{{ tab_language }}</a></li>
            <li class="nav-item"><a href="#tab-timslot" data-bs-toggle="tab" class="nav-link"><i class="fas fa-clock"></i>{{ tab_time_slot }}</a></li>
            </ul>
	         <div class="tab-content">
	            <div id="tab-general" class="tab-pane active">
					      <div class="row mb-3">
						        <label class="col-sm-2 col-form-label" for="input-status">{{ entry_status }}</label>
					          <div class="col-sm-10">
												<select name="tmd_timeslot_status" id="input-status" class="form-control">
												{% if tmd_timeslot_status %}
												<option value="1" selected="selected">{{ text_enabled }}</option>
												<option value="0">{{ text_disabled }}</option>
												{% else %}
												<option value="1">{{ text_enabled }}</option>
												<option value="0" selected="selected">{{ text_disabled }}</option>
												{% endif %}
												</select>
					           </div>
				         </div>


          			<!-- new code -->
				          <div class="row mb-3">
						        <label class="col-sm-2 col-form-label" for="input-tmd_timeslot_errormsgshow_status">{{ entry_errormsgshow_status }}</label>
					          <div class="col-sm-10">
												<select name="tmd_timeslot_errormsgshow_status" id="input-tmd_timeslot_errormsgshow_status" class="form-control">
												{% if tmd_timeslot_errormsgshow_status %}
												<option value="1" selected="selected">{{ text_yes }}</option>
												<option value="0">{{ text_no }}</option>
												{% else %}
												<option value="1">{{ text_yes }}</option>
												<option value="0" selected="selected">{{ text_no }}</option>
												{% endif %}
												</select>
					           </div>
				          </div>
          			<!-- new code -->

							   <div class="row mb-3">
				            <label class="col-sm-2 col-form-label" for="input-product"><span data-toggle="tooltip" title="{{ help_product }}">{{ entry_product }}</span></label>
				            <div class="col-sm-10">
				            	   {% if VERSION >= '4.0.2.0' %}
				                 <input type="text" name="product_name" value="" placeholder="{{ entry_product }}" id="input-product" data-oc-target="autocomplete-product" class="form-control" autocomplete="off"/>
				                  <ul id="autocomplete-product" class="dropdown-menu"></ul>
				                  {% else %}
				            		 <input type="text" name="product_name" value="" placeholder="{{ entry_product }}" id="input-product" list="list-product" class="form-control"/>
				                  <datalist id="list-product"></datalist>
				            	     {% endif %}
				                   <div class="form-control p-0" style="height: 150px; overflow: auto;">
				                      <table id="timeslot-product" class="table table-sm m-0">
				                        <tbody>
				                          {% for product in products %}
				                            <tr id="timeslot-product-{{ product.product_id }}">
				                              <td>{{ product.name }}<input type="hidden" name="tmd_timeslot_product_timer[]" value="{{ product.product_id }}"/></td>
				                              <td class="text-end"><button type="button" class="btn btn-danger btn-sm"><i class="fa-solid fa-minus-circle"></i></button></td>
				                            </tr>
				                          {% endfor %}
				                        </tbody>
				                      </table>
				                    </div>
				                </div>
				          </div>
				          <div class="row mb-3">
		                <label class="col-sm-2 col-form-label" for="input-category"><span data-toggle="tooltip" title="{{ help_category }}">{{ entry_category }}</span></label>
		                <div class="col-sm-10">
		                	{% if VERSION >= '4.0.2.0' %}
		                 <input type="text" name="category" value="" placeholder="{{ entry_category }}" id="input-category" data-oc-target="autocomplete-category" class="form-control" autocomplete="off"/>
		                  <ul id="autocomplete-category" class="dropdown-menu"></ul>
		                 {% else %}

		            		 <input type="text" name="category" value="" placeholder="{{ entry_category }}" id="input-category" list="list-category" class="form-control"/>
		                  <datalist id="list-category"></datalist>
		            	   {% endif %}
		                  
	                  	<div class="form-control p-0" style="height: 150px; overflow: auto;">
	                      <table id="product-category" class="table table-sm m-0">
	                        <tbody>
	                          {% for product_category in categorys_results %}
	                            <tr id="product-category-{{ product_category.category_id }}">
	                              <td>{{ product_category.name }}<input type="hidden" name="tmd_timeslot_category_timer[]" value="{{ product_category.category_id }}"/></td>
	                              <td class="text-end"><button type="button" class="btn btn-danger btn-sm"><i class="fa-solid fa-minus-circle"></i></button></td>
	                            </tr>
	                          {% endfor %}
	                        </tbody>
	                      </table>
	                    </div>
	                </div>
	              </div>
					    </div>

						<div id="tab-timslot" class="tab-pane">	
							<div class="row mb-3">
							    <div class="table-responsive">
								    <table id="timerslottable" class="table table-striped table-bordered table-hover">
								<thead>
								<tr>
								  <td class="text-left">{{ entry_day }}</td>
								  <td class="text-left">{{ entry_start }}</td>
								  <td class="text-left">{{ entry_end }}</td>
								  <td class="text-right"></td>
								</tr>
								</thead>
							<tbody>
								 {% set timesselected_row = 0 %}
									{% for timesslot_info in timesslot_infos %}
									<tr id="timerslot-row{{ timesselected_row }}">
									  <td class="text-left">
								         {% for language in languages %}
										<div class="input-group"> <span class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}" /></span>
										  <input type="text" name="tmd_timeslot_slot_timer[{{ timesselected_row }}][days][{{ language.language_id }}][timeslot_time]" value="{{ timesslot_info.timeslot_value_timedata[language.language_id] ? timesslot_info.timeslot_value_timedata[language.language_id].timeslot_time }}" placeholder="Day" class="form-control" />
										</div>
										     {% endfor %}</td>

										<td class="text-left"><div class="input-group"><input type="text" name="tmd_timeslot_slot_timer[{{ timesselected_row }}][time_start]" value="{{ timesslot_info.time_start }}" placeholder="{{ entry_start }}"  id="input-value{{ timesselected_row }}" class="form-control hour-input" maxlength="2" /></div></td>

										<td class="text-left"><div class="input-group"><input type="text" name="tmd_timeslot_slot_timer[{{ timesselected_row }}][time_end]" value="{{ timesslot_info.time_end }}" placeholder="{{ entry_end }}"  id="input-start{{ timesselected_row }}" class="form-control hour-input" maxlength="2" /></div></td>

							      <td class="text-left"><button onclick="$('#timerslot-row{{ timesselected_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>

									</tr>
									{% set timesselected_row = timesselected_row + 1 %}
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
									  <td colspan="3"></td>
									  <td class="text-left"><button type="button" onclick="Addtmd_timeslot_category_timer();" data-toggle="tooltip" title="{{ button_time_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div> 
				
				<div id="tab-language" class="tab-pane">	 
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">{{ entry_title }}</label>
            <div class="col-sm-10">
			        {% for language in languages %}
            <div class="input-group"><span class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}" /></span>
					  <input type="text" name="tmd_timeslot_title[{{ language.language_id }}][title]" value="{{ tmd_timeslot_title[language.language_id] ? tmd_timeslot_title[language.language_id].title }}" placeholder="{{ entry_title }}" class="form-control" />
              </div>
               {% endfor %}
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">{{ entry_availability }}</label>
            <div class="col-sm-10">
			        {% for language in languages %}
            <div class="input-group"><span class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}" /></span>
					  <input type="text" name="tmd_timeslot_availability[{{ language.language_id }}][availability]" value="{{ tmd_timeslot_availability[language.language_id] ? tmd_timeslot_availability[language.language_id].availability }}" placeholder="{{ entry_availability }}" class="form-control" />
              </div>
               {% endfor %}
            </div>
          </div>


        	<div class="row mb-3">
            <label class="col-sm-2 col-form-label">{{ entry_on }}</label>
            <div class="col-sm-10">
			        {% for language in languages %}
            <div class="input-group"><span class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}" /></span>
					  <input type="text" name="tmd_timeslot_slot_no[{{ language.language_id }}][on]" value="{{ tmd_timeslot_slot_no[language.language_id] ? tmd_timeslot_slot_no[language.language_id].on }}" placeholder="{{ entry_on }}" class="form-control" />
              </div>
               {% endfor %}
            </div>
          </div>

		  		<div class="row mb-3">
            <label class="col-sm-2 col-form-label">{{ entry_from }}</label>
            <div class="col-sm-10">
			       {% for language in languages %}
            <div class="input-group"><span class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}" /></span>
					  <input type="text" name="tmd_timeslot_slot_from[{{ language.language_id }}][from]" value="{{ tmd_timeslot_slot_froms[language.language_id] ? tmd_timeslot_slot_froms[language.language_id].from }}" placeholder="{{ entry_from }}" class="form-control" />
            </div>
             {% endfor %}
            </div>
      		</div>
		  		<div class="row mb-3">
            <label class="col-sm-2 col-form-label">{{ text_to }}</label>
            <div class="col-sm-10">
			        {% for language in languages %}
            <div class="input-group"><span class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}" /></span>
					  <input type="text" name="tmd_timeslot_slot_to[{{ language.language_id }}][to]" value="{{ tmd_timeslot_slot_to[language.language_id] ? tmd_timeslot_slot_to[language.language_id].to }}" placeholder="{{ entry_to }}" class="form-control" />
              </div>
               {% endfor %}
            </div>
         </div>
		 </div>
	</div>
 </div>
</div> 
        </form>
      </div>
    </div>
  </div>
   <script type="text/javascript"><!--
	var timesselected_row = {{ timesselected_row }};
	function Addtmd_timeslot_category_timer() {
		html = '<tr id="timerslot-row' + timesselected_row + '">';
		html += '  <td class="text-left">';
		{% for language in languages %}
			html += '<div class="input-group"><span class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}" /></span><input name="tmd_timeslot_slot_timer[' + timesselected_row + '][days][{{ language.language_id }}][timeslot_time]" rows="5" placeholder="{{entry_day}}" class="form-control"></div>';
		{% endfor %}
		html += '  </td>';		
		html += '<td class="text-left"><div class="input-group"><input type="text" name="tmd_timeslot_slot_timer[' + timesselected_row + '][time_start]" value="" placeholder="{{ entry_start }}"  id="input-value' + timesselected_row + '" class="form-control hour-input" maxlength="2" /></div></td>';
		html += '<td class="text-left"><div class="input-group"><input type="text" name="tmd_timeslot_slot_timer[' + timesselected_row + '][time_end]" value="" placeholder="{{ entry_end }}"  id="input-start' + timesselected_row + '" class="form-control hour-input" maxlength="2" /></div></td>';
		html += '<td class="text-left"><button type="button" onclick="$(\'#timerslot-row' + timesselected_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
		
		
		html += '</tr>';
		$('#timerslottable tbody').append(html);
		timesselected_row++;
	}
  
  // Category
  $('input[name=\'category\']').autocomplete({
	  'source': function(request, response) {
		  $.ajax({
			  url: 'index.php?route=catalog/category|autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
			  dataType: 'json',
			  success: function(json) {
				  response($.map(json, function(item) {
					  return {
						  label: item['name'],
						  value: item['category_id']
					  }
				  }));
			  }
		  });
	  },
	     'select': function (item) {
        $('input[name=\'category\']').val(''); 
        $('#product-category-' + item['value']).remove();

        html = '<tr id="product-category-' + item['value'] + '">';
        html += '  <td>' + item['label'] + '<input type="hidden" name="tmd_timeslot_category_timer[]" value="' + item['value'] + '"/></td>';
        html += '  <td class="text-end"><button type="button" class="btn btn-danger btn-sm"><i class="fa-solid fa-minus-circle"></i></button></td>';
        html += '</tr>';

        $('#product-category tbody').append(html);
    }
});

$('#product-category').on('click', '.btn', function () {
    $(this).parent().parent().remove();
});

	
 $('input[name=\'product_name\']').autocomplete({
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product|autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},

	'select': function (item) {
        $('input[name=\'product_name\']').val(''); 
        $('#timeslot-product-' + item['value']).remove();

        html = '<tr id="timeslot-product-' + item['value'] + '">';
        html += '  <td>' + item['label'] + '<input type="hidden" name="tmd_timeslot_product_timer[]" value="' + item['value'] + '"/></td>';
        html += '  <td class="text-end"><button type="button" class="btn btn-danger btn-sm"><i class="fa-solid fa-minus-circle"></i></button></td>';
        html += '</tr>';

        $('#timeslot-product tbody').append(html);
    }
});

$('#timeslot-product').on('click', '.btn', function () {
    $(this).parent().parent().remove();
});
</script>

<style type="text/css">
#form-timeslot ul li > a.active,#form-timeslot ul li > a.active:hover,#form-timeslot ul li > a.active:focus{
  background: #00a4e4 none repeat scroll 0 0 !important;
  color:#fff;
}

#form-timeslot .nav-tabs li a{
  background:#E4E6EA;
  border-radius: 0;
}

#form-timeslot .nav-tabs > li > a.active, #form-timeslot .nav-tabs > li > a.active:hover,#form-timeslot .nav-tabs > li > a.active:focus{
  color:#fff;
}

#form-timeslot ul li > a.active, #form-timeslot ul li > a.active:hover, #form-timeslot ul li > a.active:focus{
    background: #00a4e4 none repeat scroll 0 0 !important;
    color: #fff;
}
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).on('keyup', '.hour-input', function() {
    let value = $(this).val();
    // Allow only numeric values
    value = value.replace(/[^0-9]/g, '');

    // Restrict the value to a maximum of 24
    if (parseInt(value, 10) > 24) {
        value = '24';
    } else if (value.length > 2) {
        value = value.slice(0, 2); // Limit to 2 digits
    }

    // Update the input field with the validated value
    $(this).val(value);
});

</script>

{{ footer }} 
</div>
